


#particles-js {
	position: relative;
	width: 100%;
	height: 100vh;
}

#particles-js h1 {
	position: absolute;
	top:20%;
	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  	text-align: center;
  	text-transform: uppercase;
    font-family: 'Electrolize', sans-serif;
	font-family: 'Orbitron', sans-serif;
	
}	
canvas {
	display: block;
	vertical-align: bottom;
}

#ctrlbox{
	text-align: center;
	position: absolute;
	top:40%;
	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 100%;
	border-radius: 25px;
    background: #E3E4EB;
    padding: 60px;
    width: 500px;
    height: 80px; 
    opacity: 0.5;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ctrlbox:hover{
	box-shadow: 15px 20px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);	
}

input {
	/*position: absolute;*/
	border-radius: 10px;
	border-color: black;
	background: #E3E4EB;
    padding: 12px;
    width: 78%;
    height: 1px; 
    opacity: 0.5;
}

input:hover {
	border-color:#0A3DB3;
}
::placeholder {
   color: black;
   opacity: 2;	
}
label:after {
	content: ":" ;
	box-sizing: border-box;
}

label {
   font-family: 'Rajdhani', sans-serif;
   font-family: 'Orbitron', sans-serif;
}

.genesisPrevHashBox {
   margin-left: 10px;	
   margin-bottom: :7px;
   display: flex;
   justify-content: flex-start;
   flex-wrap: nowrap;
   max-width: 100%;
   overflow: auto; 
}

.textStyle{
	color: green;
	font-size: 8pt; 
	float: right;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'Orbitron', sans-serif; 
	cursor: default;
	background:none;
	border-color: transparent;
}

.genesisHashBox {
	margin-left: 10px;
	display: flex ;
	justify-content: flex-start;
	flex-wrap: nowrap;
	max-width: 100%;
	overflow:auto;
}

.textStyleHash {
	color:#52c41a;
	background:#f6ffed;
	border-color: #b7eb8f; 
	display: block;
	cursor: default;
	max-width: 100%;
	overflow: auto;
}
